body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #f1ebeb;
}

.rounded-edge {
    height: 480px;
    aspect-ratio: 3/2;
    width: 260px;
    clip-path: ellipse(90% 85% at 40% 0);
    background-image: linear-gradient(to bottom, #a74fd4, #6525b3);
}

.phone-frame {
    width: 180px;
    height: 320px;
    background-color: #ffffff;
    border-radius: 24px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 8px;
}

.screen-area {
    width: 100%;
    height: 100%;
    background-color: #f6f2f2;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrow-container {
    position: absolute;
    bottom: 5px;
    right: 10px;
    pointer-events: none; 
    opacity: 0.6;
}

.arrow {
    border: solid #000;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
}
.right {
    transform: rotate(-45deg);
}

#exampleTextarea {
     object-fit: cover;
     border-radius: 15px;
}

.enterMessage {
    width: 180px;
     object-fit: cover;
}

@media (max-width: 600px) {
    .rounded-edge {
        height: 320px;
        aspect-ratio: 3/2;
        width: 140px;
        clip-path: ellipse(90% 85% at 40% 0);
        background-image: linear-gradient(to bottom, #a74fd4, #6525b3);
    }

    .phone-frame {
        width: 100px;
        height: 220px;
        background-color: #ffffff;
        border-radius: 16px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        padding: 4px;
    }

    h3 {
        font-size: 0.7rem;
    }

    p {
        font-size: 0.7rem;
    }

    small {
        font-size: 0.7rem;
    }
}